<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <script type="text/javascript" async
        src="{{ site.mathjax.src | default: "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML" }}">
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            processEscapes: true
          }
        });
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
